.productsWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  max-width: 1200px;
  margin: 0 auto;
  gap: 15px;
  margin-top: 20px;
}

.loaderWrapper {
  display: grid;
  place-items: center;
  margin-top: 25px;
}

.success {
  padding: 15px;
  text-align: center;
  margin: 10px 0;
  background-color: #DFF2DF;
}

.error {
  color: rgb(239 68 68);
  text-align: center;
}